* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 135, 204);
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: white;
}

#box {
    width: 700px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 20px;
}

#input {
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
}

#instagram {
    text-align: center;
    padding: 20px 0;
    color: white;
}

input {
    margin-left: 10px;
}

select {
    margin-top: 20px;
    margin-left: 20px;
    height: 160px;
    width: 160px;
}

.finalizar {
    margin-left: 20px;
    margin-top: 10px;
}